<ion-view view-title="Contact Us">
  <ion-content>
        <div class="card">
           <div class="item item-divider">
              <h3 class="center positive">Call us</h3> 
           </div>
            <div class="item">
					<img class="full-image" src="http://localhost:3000/images/contacts.png">
                    <address class="center">
		              	<p>E-mail: <a href="mailto:confusion@food.net">puppet@gmail.com</a></p>
						<p>Phone: +380 (096) 234 2323</p>
						<p>Fax: +380 (096) 234 2323</p>
		           </address>
			</div>
			<div class="item item-divider">
              <h3 class="center positive">Or leave feedback</h3> 
            </div>	
			<div class="item">
					<button type="button" class="button button-balanced button-block"
          				ng-click="feedback()">Your Feedback</button>
            </div>
        </div>
        
  </ion-content>
</ion-view>
